<form class="container" (ngSubmit)="getData()">
    <h2 class="title">Change password</h2>
    <div class="input-container">
        <label for="old-password">Old password: </label>
        <input type="password" name="old-password" id="old-password">
    </div>
    <div class="input-container">
        <label for="new-password">New password: </label>
        <input type="password" name="new-password" id="new-password">
    </div>
    <div class="input-container">
        <label for="password">Confirm password: </label>
        <input type="password" name="password" id="password">
    </div>
    
    <button class="confirm-btn" type="submit">Confirm</button>
</form>