<div class="car-info-container">
    <div class="car-plate">
        <h2>{{car.licensePlate}}</h2>
    </div>
    <div class="status" *ngIf="car.parkingStatus">
        Status: Parked <i class="fa-solid fa-circle" style="color: green; font-size: 1em;"></i>
    </div>

    <div class="status" *ngIf="!car.parkingStatus">
        Status: Away <i class="fa-solid fa-circle" style="color: red; font-size: 1em;"></i>
    </div>
    <div class="car-info">
        <div class="parking-lot">
            Parking Lot: {{parkingLotName}}
        </div>

        <div class="subscription" *ngIf="noSubscription == false && car.subscriptionDTO.price !== 10" [attr.data-cy]="'AVAILABLE-SUB'">
            Subscription expiration date: {{car.subscriptionDTO.endDate}}
        </div>
      <div class="subscription" *ngIf="noSubscription == false && car.subscriptionDTO.price === 10" [attr.data-cy]="'AVAILABLE-TICKET'">
        Ticket expiration date: {{car.subscriptionDTO.endDate}}
      </div>
        <div class="subscription" *ngIf="noSubscription == true" [attr.data-cy]="'NO-AVAILABLE-SUB'">
            No subscription found for this car.
        </div>
    </div>

    <div class="brand">
        <img class="app-logo" src="assets/images/{{car.brand}}.png">
    </div>
</div>
