<form class="form-container" [formGroup]="registerForm" (ngSubmit)="register()">
    <img class="app-logo" src="assets/images/logo.png">
    <div class="login-input-container">
        <label class="login-label" for="username">Username</label>
        <input class="login-input" name="username" type="text" formControlName="username"  placeholder="Enter username">
    </div>
    <div class="login-input-container">
        <label class="login-label" for="firstName">First Name</label>
        <input class="login-input" name="firstName" type="text" formControlName="firstName"  placeholder="Enter first name">
    </div>
    <div class="login-input-container">
        <label class="login-label" for="lastName">Last Name</label>
        <input class="login-input" name="lastName" type="text" formControlName="lastName"  placeholder="Enter last name">
    </div>
    <div class="login-input-container">
        <label class="login-label" for="email">Email</label>
        <input class="login-input" name="email" type="text" formControlName="email"  placeholder="Enter email">
    </div>
    <div class="login-input-container">
        <label class="login-label" for="password">Password</label>
        <input class="login-input" name="password" type="password" formControlName="password" placeholder="Enter password">
    </div>
    <button  class="login-button" type="submit">Sign up</button>
</form>