<form class="container" [formGroup]="cancelSubscriptionForm" (ngSubmit)="getData()">
    <h2 class="title">Cancel subscription</h2>
    <div class="input-container">
        <label for="plate">License plate: </label>
        <select name="plate" id="plate" formControlName="licensePlate" [attr.data-cy]="'LICENSE-PLATE-SL'">
            <option *ngFor="let plate of numberPlates" value="{{plate}}">
                {{plate}}
            </option>
            <option disabled selected *ngIf="numberPlates.length < 1">
                No cars with a subscription.
            </option>
        </select>
    </div>
    <div class="input-container">
        <label for="password">Confirm password: </label>
        <input type="password" name="password" id="password" formControlName="password" [attr.data-cy]="'PASSWORD-IP'">
    </div>

    <button class="confirm-btn" type="submit" [attr.data-cy]="'CONFIRM-BTN'">Confirm</button>
</form>
