<div class="container">
    <div class="plan">
        <h2 class="title">
            1 Month
        </h2>
        <div class="description">
            24/7 parking access
            <br>
            automated car access
            <br>
            high security 
        </div>
        <h2 class="price">
            100lei/month
        </h2>
        <button class="confirm" routerLink="/confirm-subscription">
            Get plan
        </button>
    </div>
    <div class="plan">
        <h2 class="title">
            3 Months
        </h2>
        <div class="description">
            24/7 parking access
            <br>
            automated car access
            <br>
            high security 
        </div>
        <h2 class="price">
            90lei/month
        </h2>
        <button class="confirm" routerLink="/confirm-subscription">
            Get plan
        </button>
    </div>
    <div class="plan">
        <h2 class="title">
            6 Months
        </h2>
        <div class="description">
            24/7 parking access
            <br>
            automated car access
            <br>
            high security 
        </div>
        <h2 class="price">
            80lei/month
        </h2>
        <button class="confirm" routerLink="/confirm-subscription">
            Get plan
        </button>
    </div>
    <div class="plan">
        <h2 class="title">
            12 Months
        </h2>
        <div class="description">
            24/7 parking access
            <br>
            automated car access
            <br>
            high security 
        </div>
        <h2 class="price">
            70lei/month
        </h2>
        <button class="confirm" routerLink="/confirm-subscription">
            Get plan
        </button>
    </div>
</div>